.skills {
	z-index: 20;
	margin-top: 200px;
}
.whiteRound {
	background-color: white;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: auto;
}
.skillImage {
	height: 100%;
	width: 100%;
}

.skillCategoryTitle {
	font-size: 3rem;
}
.skillCardContent {
	text-align: center;
}
